:root {
  --verde: #2a6351;
  --verde-claro: #5cb691;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  margin-bottom: 24px;
  color: var(--verde-claro);
}

ul {
  margin-left: 16px;
  color: white;
  list-style-type: none;
}

ul li::before {
  content: "• ";
  color: var(--verde-claro);
}

body {
  padding: 16px;
  background-color: #444;
}

section img {
  max-width: 100%;
  display: block;
  font-size: 0;
  margin-bottom: 8px;
}
h1,
h2,
h3,
p {
  margin-bottom: 16px;
  color: white;
}

article {
  display: flex;
  flex-wrap: wrap;
  font-family: Tahoma;
}

article section {
  padding: 12px;
  max-width: 300px;
  border-radius: 8px;
  margin-right: 24px;
  margin-bottom: 24px;
  box-shadow: #333 2px 1px 10px;
}

article section:nth-child(odd):hover {
  box-shadow: #0cc587 3px 2px 12px;
}
article section:nth-child(even):hover {
  box-shadow: rgb(175, 87, 216) 3px 2px 12px;
} 